body {
  margin: 0%;
  background-color: skyblue;
  font-family: 'Roboto', sans-serif;
}

header {}

#cabecalho {
  background-color: white;
  width: 940px;
  position: center;
  text-align: center;
  display: inline-flex;
  padding: 20px 0%;
  margin-left: 210px;
  margin-bottom: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

#welcome {
  width: 200px;
  height: 50px;
}

.box-welcome {
  padding-left: 120px;
  animation: welcome 5s ease-in-out infinite alternate;
}

.box-welcome:hover {
  animation-play-state: paused;
}

@keyframes welcome {
  0% {
    transform: translateX(100px);
  }

  50% {
    transform: translateX(900px);
  }

  100% {
    transform: translateX(0);
  }
}

.item_cabecalho {
  display: inline-flex;
  padding-left: 0px;
  padding-right: 25px;
  color: orange;
  font-size: 25px;
  text-align: end;
  text-transform: uppercase;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: orange;
}

a:hover {
  color: skyblue;
  text-decoration: underline;
}

#cabecalho a:houver {
  color: black;
  text-decoration: underline;
}

#titulo {
  font-size: 35px;
  text-align: justify;
  color: orange;
  text-align: center;
  text-shadow: 1.5px 1.5px gray;
}

#principal {
  background-color: white;
  display: inline-flex;
  width: 940px;
  margin-left: 210px;
  margin-top: 20px;
  border-radius: 20px;
  padding: 50px 0%;
  margin-bottom: 40px;
}

.lado2 {
  padding-left: 90px;
}

.logo {
  width: 8%;
  padding-left: 100px;
  padding-right: 200px;
}

.logo2 {
  width: 40%;
  padding-left: 120px;
}

#foto {
  width: 35%;
  position: center;
  margin-left: 50px;
  box-shadow: 10px 10px 20px gray;
  opacity: 1;
  transition: 300ms;
}

#foto:hover {
  opacity: 0.3;
}


main {
  width: 940px;
  margin: 0 auto;
  padding: 50px 0%;
}

.nome {
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 45px;
  color: white;
  text-shadow: 1.5px 1.5px gray;
}

.albuns {
  width: 940px;
  margin: 0 auto;
  padding: 50px 0;
}

.albuns li {
  display: inline-block;
  text-align: center;
  width: 30%;
  background-color: white;
  vertical-align: top;
  margin: 0 1.5%;
  padding: 30px 20px;
  box-sizing: border-box;
  border: 2px solid orange;
  border-radius: 20px;
  box-shadow: 10px 10px 20px gray;
}

.albuns li img1 {
  width: 70%;
  filter: drop shadow(25px 25px 5px #CCCCCC);
  filter: saturate(300%);
}

.albuns li img2 {
  width: 70%;
  filter: drop shadow(25px 25px 5px orange);
  filter: invert(100%);
}

.albuns li img2 {
  width: 70%;
  filter: drop shadow(25px 25px 5px black);
  filter:  hue rotate((100%);
}

.albuns li:hover {
  border-color: white;
  background-color: orange;
  color: white;
}

.albuns li:active {
  border-color: black;
}

.albuns h1 {
  font-size: 20px;
  font-weight: bold;
}

.albuns li:hover h1 {
  font-size: 30px;
}

form {
  width: 940px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 50px 0%;
  display: grid;
  background: white;
  border-radius: 15px;
}

form .titulo {
  text-align: center;
  color: skyblue;
  font-size: 35px;
  text-transform: uppercase;
  font-weight: bolder;
  text-shadow: 1.5px 1.5px gray;
}

form label {
  color: orange;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  padding-left: 40px;
}

.campo {
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 15px;
  margin-top: 10px;
  background: #fff;
  border: 2px solid lightskyblue;
  border-radius: 50px;
  color: gray;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px;
}

.campo:hover {
  border-color: orange;
}

.enviar {
  text-align: center;
  margin-left: 400px;
  margin-right: 400px;
  margin-bottom: 15px;
  margin-top: 30px;
  background: orange;
  border: none;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  padding: 10px 15px;
  transition: 1s all;
}

.enviar:hover {
  background: green;
  transform: scale(1.2);
}

.sobre {
  width: 940px;
  margin: 0 auto;
  padding: 50px 0;
  background: linear-gradient(white, #FFD699);
  margin-top: 35px;
  border-radius: 15px;
  margin-bottom: 55px;
}

.sobre-titulo {
  color: orange;
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 5px;
  text-shadow: 1.5px 1.5px gray;
}

.sobre-texto {
  padding-left: 30px;
  padding-right: 30px;
  text-align: justify;
  font-size: 18px;
}

.sessao_2 {
  display: flex;
}

.sobre_img {
  margin: 20px 0 90px;
  width: 60%;
  height: 60%;
  padding-left: 60px;
  box-shadow: 10px 10px 20px gray;
}

table {
  margin: 20px 0 90px;
  padding-left: 30px;
}

thead td {
  background: orange;
  color: white;
  font-weight: bold;
  text-align: center;
  border: 1px solid skyblue;
  padding: 8px 10px;
}

tbody td {
  border: 1px solid skyblue;
  padding: 8px 10px;
  background: white;
}

th {
  border: 1px solid skyblue;
  padding: 8px 10px;
}

.sobre_indicacoes {
  text-align: center;
}

iframe {
  padding-top: 30px;
}

.videos {
  padding-bottom: 30px;
}

@media screen and (max-width: 480px) {


  body {
    background-color: skyblue;
    padding: 0px;
    margin: 0px;
  }

  #cabecalho {
    display: grid;
    margin: 0px;
    padding: 0px;
    width: 100%;
  }

  .links {
    display: column;
  }

  .logo {
    display: none;
  }

  .item_cabecalho {
    font-size: 17px;
    margin: 0px;
    padding: 10px 13px;
    text-align: center;
  }

  #principal {
    display: block;
    margin: 20px 0px;
    padding: 0px;
    width: 100%;
    height: 800px;
  }

  #foto {
    margin: 60px 130px;
    padding: 0px;
    text-align: center;
  }

  .lado2 {
    display: block;
    padding: 0;
    margin: 0px;
  }

  #titulo {
    font-size: 45px;
    padding-bottom: 60px;
  }

  #albuns-main {
    margin: 0px;
    padding: 0px;
    width: 100%;
  }

  .nome {
    text-align: center;

  }

  .albuns {
    display: grid;
    margin: 0px;
    padding: 20px 60px;
    text-align: center;

  }

  .albuns ul {
    margin-top: 0px;
  }

  .albuns li {
    margin-top: 50px;
  }

  .albuns h1 {
    font-size: 35px;
  }

  .albuns p {
    font-size: 25px;
  }

  form {
    display: grid;
    margin: 0px;
    padding: 0px;
    width: 100%;
    margin-top: 30px;
  }

  form .titulo {
    font-size: 30px;
    padding: 35px;
    margin: 0px;
    text-align: center;

  }

  form label {
    padding: 0px 20px;
    margin: 0px;
    font-size: 30px;
  }

  .campo {
    padding: 20px 20px;
    margin: 20px 5px;
    width: 360px;
    font-size: 20px;
  }

  .enviar {
    margin: 0px;
    width: 100px;
    margin-left: 150px;
    margin-bottom: 50px;
    margin-top: 50px;
    padding: 20px;
    text-align: center;
  }

  .sobre {
    display: grid;
    margin: 0px;
    padding: 0px;
    width: 100%;
    margin-top: 30px;
  }

  .sobre-texto {
    padding: 15px 30px;
    font-size: 22px;
    width: 360px;
  }

  section .sobre-titulo {
    padding: 0px;
    margin: 0px;
    font-size: 35px;
    text-align: center;
    margin-top: 50px;
  }

  .sessao_2 {
    display: block;
  }

  .sobre_img {
    padding: 0px 0px;
    margin-left: 100px;
    width: 55%;
    height: 35%;
  }

  table {
    width: 350px;
    font-size: 20px;
    padding-left: 60px;
  }

  .box-welcome {
    padding: 0;
    padding-top: 20px;
  }

  @keyframes welcome {
    0% {
      transform: translateX(1px);
    }

    50% {
      transform: translateX(200px);
    }

    100% {
      transform: translateX(0px);
    }
  }
